<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.mapper.UserMapper">
    <select id="findByName"
            parameterType="java.lang.String"
            resultType="com.lanou.domain.User">
        SELECT * FROM b_user WHERE username=#{value}
    </select>

    <insert id ="addUser"
            parameterType="com.lanou.domain.User"
            keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO b_user(username,password,tel,address) VALUES (#{username},#{password},#{tel},#{address})
    </insert>


</mapper>